/MiCuentaBanco/nbproject/private/
/MiCuentaBanco/build/
/Concesionario/nbproject/private/
/Concesionario/build/
/Biblioteca/nbproject/private/
/GestionBiblioteca/nbproject/private/
/GestionBiblioteca/build/
